<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd">

  <bean id="application" class="hello.Application"></bean>
  
  <!--  Castor (deprecated) -->	
	<oxm:castor-marshaller id="castorMarshaller" mapping-location="classpath:mapping.xml" />
	
	<!-- Jaxb2 -->
	<oxm:jaxb2-marshaller id="jaxbMarshallerBean">  
            <oxm:class-to-be-bound name="hello.Person"/>  
        </oxm:jaxb2-marshaller>
        
<!--       <oxm:jibx-marshaller id="jibxMarshaller" target-class="hello.Person"/> -->

<bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
		<property name="aliases">
			<props>
				<prop key="person">hello.Person</prop>
			</props>
		</property>
	</bean>

</beans>